@import url(https://fonts.googleapis.com/css?family=Figtree);
h2 {
  font-family: "Figtree";
  color: #2A2B2A;
}
h3 {
  font-family: "Figtree";
  color: #2A2B2A;
}
div {
  font-family: "Figtree";
  color: #2A2B2A;
}
body {
  font-family: "Figtree";
  color: #2A2B2A;
}
p {
  font-family: "Figtree";
  color: #2A2B2A;
}